# Machine specific config files / symlinks
# -----------------------------------
config/lemonbar/bar.sh
config/i3/config
vim/plugged
vim/.netrwhist
vim/vimrc-local
themes/active
*/config/i3/config
*/config/i3/02-theme
mArch/config/mopidy/mopidy.conf
